.row {
  display: flex;
  flex-flow: column;
}
.row,
.result {
  text-align: center;
}
.result {
  display: flex;
  width: 300px;
  justify-content: center;
  margin: auto;

  span {
    width: 50%;
  }
}
