<form
    [formGroup]="formGroup"
    (ngSubmit)="submit()"
>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Rating</mat-label>
                <mat-select formControlName="ratingType">
                    <mat-option
                        *ngFor="let item of options"
                        [value]="item"
                    >
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>
<br>
<div class="result">
    <span>Average amount:</span>
    <span>{{loading ? '...' : data}}</span>
</div>
